@import "custom.scss";
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

.flatpickr-day.selected {
    background: #E1551C;
    box-shadow: none;
    color: #fff;
    border-color: #E1551C;
}


/* Custom styles for the toggle switch */
.toggle-switch-on {
    background-color: #4ade80; /* A green color when toggle is on */
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.toggle-switch-off {
    background-color: #d1d5db; /* A gray color when toggle is off */
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.toggle-knob {
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
    border-radius: 9999px; /* Fully rounded */
    transition: transform 0.3s ease;
}

/* Position the knob to the left or right */
.toggle-switch-on .toggle-knob {
    transform: translateX(1.25rem); /* Adjust as needed based on the size of your switch */
}

.toggle-switch-off .toggle-knob {
    transform: translateX(0);
}

/* Bootstrap shadows */
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
